# Environments and packages
backend/venv/
transitops-frontend/node_modules/
transitops-frontend/dist/

# Configuration and secrets
backend/.env
transitops-frontend/.env

# System and logs
.DS_Store
*.log

# Python compiled caching (Matches all subdirectories)
**/__pycache__/
*.pyc
*.pyo
*.pyd
